<div class="fluid-container md-form m-5 h-50 w-500 align-self-center">
  <h1><b>Favorites</b></h1>
  <hr>
  <div class="row">
    <button
      (click)="refreshData()"
      class="mb-2 btn bg-color-lively-darkgreen text-white"
      type="button"
      [attr.disabled] = "isBusy">
      Refresh Data
    </button>

      <!-- loading spinner while ticket is submitting to firebase just in case it takes any amount of time -->
      <div *ngIf="isBusy" class="spinner-border spinner-sm text-info float-left ml-3" role="status">
        <span class="sr-only">Loading...</span>
      </div>
  </div>
  <div class="table-responsive row">
    <table id="stockTable" class="table table-striped table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th>Company</th>
          <th>Open</th>
          <th>High</th>
          <th>Low</th>
          <th>Price</th>
          <th>Volume</th>
          <th>Latest trading day</th>
          <th>Previous close</th>
          <th>Change</th>
          <th>Change percent</th>
          <th>Delete from Favorites</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks; let i=index">
          <td>
            <a
              href="{{
                'https://www.marketwatch.com/investing/stock/' + stock.symbol
              }}"
              target="_blank"
              >{{ stock.symbol }}</a
            >
          </td>
          <td>{{ stock.open }}</td>
          <td>{{ stock.high }}</td>
          <td>{{ stock.low }}</td>
          <td>{{ stock.price }}</td>
          <td>{{ stock.volume }}</td>
          <td>{{ stock.latestTradingDay }}</td>
          <td>{{ stock.prevClose }}</td>
          <td [style.color]="getTextColor(i)">{{ stock.change }}</td>
          <td [style.color]="getTextColor(i)">{{ stock.changePercent }}</td>
          <td>
            <button (click)="deleteFavorite(stock)" class="btn btn-danger" type="button">
              Delete from favorites
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
